@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* font-family: 'DM Sans', sans-serif; */

/* colors */

:root {
	--dark-grey  : #1d1d1d;
	--grey       : #5e5e5e;
	--orange     : #d8871d;
	--light-grey : #fffdfd; 
}

html, body {
	font-family: 'DM Sans', sans-serif;
	color: var(--dark-grey);
}

section {
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 100px;
}

h1 {
	font-size: 30px;
	font-weight: 500;
}

p {
	margin: 20px 0 10px 0;
	font-size: 1.1rem;
}

.btn {
	display: inline-block;
	margin: 20px 0;
	padding: 10px 30px;
	background: var(--orange);
	color: var(--light-grey);
	cursor: pointer;
	transition: all .3s;
}

.btn:hover {
	transform: scale(0.98);
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: var(--light-grey);
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 100%;
	z-index: 15;
}

.navigation.active {
	left: 0;
}

.navigation ul {
	position: relative;
}

.navigation ul li {
	position: relative;
	text-align: center;
}

.navigation ul li a {
	font-size: 2.2rem;
	font-weight: 400;
	color: var(--dark-grey);
}

.navigation ul li a:hover {
	color: var(--orange);
}

.navigation .email__icon {
	position: absolute;
	bottom: 20px;
	transform: scale(0.5);

}

.navigation .social__bar {
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.navigation .social__bar a {
	display: inline-block;
	transform: scale(0.5);
}


.logo {
	font-size: 2rem;
	font-weight: 700;
	position: absolute;
	top: 30px;
	left: 100px;
	z-index: 15;
}

.toggle {
	width: 60px;
	height: 60px;
	background-color: var(--orange);
	background-image: url(/assets/img/main/icon/menu.png);
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	cursor: pointer;
}

.toggle.active {
	background-image: url(/assets/img/main/icon/close.png);
	background-position: center;
	background-repeat: no-repeat;
}

.home__img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 110%;
}

.home__content {
	max-width: 600px;
	position: relative;
	z-index: 10;
}